[submodule "packages"]
	path = packages
	url = https://github.com/yuito-it/slidevjs-docs-ja.git
	branch = utils/packages
[submodule "patches"]
	path = patches
	url = https://github.com/yuito-it/slidevjs-docs-ja.git
	branch = utils/patches
[submodule "scripts"]
	path = scripts
	url = https://github.com/yuito-it/slidevjs-docs-ja.git
	branch = utils/scripts
